%h2 Select dates
%h3 View all products sold in date range
%form
  %label Start date
  %input{type: "date", id: "salesStartDate"}
  %label End date
  %input{type: "date", id: "salesEndDate"}
  %input{type: "submit", value: "Submit", onClick: "processDates(event)"}
%br
- if flash.any?
  - flash.each do |_, msg|
    %div{class: 'alert alert-danger'}
      = msg
- if @start_date && @end_date
  %h3= "Orders from #{@start_date.strftime('%_m/%-d/%Y')} and #{@end_date.strftime('%_m/%-d/%Y')}"
- if @order_items
  %table{class: 'table'}
    %tr
      %th Product name
      %th Number sold
      %th Total revenue
    - @order_items.each do |item|
      .slide
        %tr
          %th= item['source_name']
          %th= item['total_sold']
          %th= number_to_currency(item['revenue'])